<ion-header>
  <ion-navbar>
    <ion-title>Menu Esok</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
 

<!-- 
  <ion-card *ngFor="let m of menu | async" (click)="showOptions(m.id, m.data.title, m.data.harga, m.data.imageUrl)">

    <ion-card-header>
      {{m.data.title}}

    </ion-card-header>
    <ion-card-content>
      RM {{m.data.harga}}
    </ion-card-content>
  </ion-card> -->


  <ion-card *ngFor="let m of menu | async">
    <img src = {{m.data.imageUrl}} (click)="showOptions(m.id, m.data.title, m.data.harga, m.data.imageUrl)" />
    <ion-card-content>
      <h2 class="card-title" bold>
        {{m.data.title}}
      </h2>
      <p>
        {{m.data.harga}}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left (click)="favorite(card)">
          <ion-icon name='pizza'></ion-icon>
          Order Now
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-left (click)="listen(card)">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
  </ion-card>



</ion-content>

<!-- <ion-content padding>
  <ion-list>
    <ion-item *ngFor="let m of menu | async" (click)="viewItemDetails(m)">
      <ion-avatar item-left>
      <img src="{{m.images[0]}}">
    </ion-avatar>
      <h2>{{m.data.title}}</h2>
      <div>RM
        <span>{{m.data.harga}}</span>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="viewCart()">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>


</ion-content> -->